/**
 * These CSS rules apply to all pages on the site
 * These rules are for general elements and important variables
 * 
 * Anthony Wilson
 */



/*
Z-Indexes:
0   - body
50  - #overflow-menu
99  - #dimmer
100 - #nav-bar
*/



/* ======== Declare Variables ======== */
:root {
  
  /* ==== Color Themes ==== */
  
  /* Light color scheme */
  --BG1-light: #FFFFFF;
  --BG2-light: #F0F2F5;
  --BG3-light: #EAEBEE;
  --BG4-light: #E4E4E7;
  --Text1-light: #1F1F1F;
  --Text2-light: #303030;
  --Symbol-light: #545F73;
  --Border-light: #B8B8B8;
  --LinkText-light: #1A0DAB;
  
  /* Dark color scheme */
  --BG1-dark: #1E2228;
  --BG2-dark: #2D333B;
  --BG3-dark: #272D34;
  --BG4-dark: #22272E;
  --Text1-dark: #CDD9E5;
  --Text2-dark: #ADBAC7;
  --Symbol-dark: #ADBAC7;
  --Border-dark: #434B55;
  --LinkText-dark: #6997F4;
  
  /* Fruity color scheme */
  --BG1-fruity: #B4CF66;
  --BG2-fruity: #FFEC5C;
  --BG3-fruity: #FFD25C;
  --BG4-fruity: #FFBD5C;
  --Text1-fruity: #146152;
  --Text2-fruity: #44803F;
  --Symbol-fruity: #146152;
  --Border-fruity: #FF5A33;
  --LinkText-fruity: #44803F;
  
  /* Eye-Searing Neon color scheme */
  --BG1-neon-1: #77F000;
  --BG2-neon-1: #77F000;
  --BG3-neon-1: #69D100;
  --BG4-neon-1: #58B000;
  --Text1-neon-1: #FF00FF;
  --Text2-neon-1: #D300DC;
  --Symbol-neon-1: #FF00FF;
  --Border-neon-1: #69D100;
  --LinkText-neon-1: #D300DC;
  
  /* Pastel Sunset color scheme */
  --BG1-pastel-sunset: #F39189;
  --BG2-pastel-sunset: #BB8082;
  --BG3-pastel-sunset: #B8665E;
  --BG4-pastel-sunset: #A6514C;
  --Text1-pastel-sunset: #046582;
  --Text2-pastel-sunset: #6E7582;
  --Symbol-pastel-sunset: #046582;
  --Border-pastel-sunset: #8F442F;
  --LinkText-pastel-sunset: #6E7582;
  
  /* Layan color scheme */
  --BG1-layan: #252433;
  --BG2-layan: #252433;
  --BG3-layan: #5B48CC;
  --BG4-layan: #5657F5;
  --Text1-layan: #FFFFFF;
  --Text2-layan: #C7C5D8;
  --Symbol-layan: #FFFFFF;
  --Border-layan: #5B48CC;
  --LinkText-layan: #5657F5;
  
  /* __ color scheme */
  /*--BG1-test: #2192BF;
  --BG2-test: #3BBF82;
  --BG3-test: #FFD25C;
  --BG4-test: #FFBD5C;
  --Text1-test: #F22248;
  --Text2-test: #A62D65;
  --Symbol-test: #F22248;
  --Border-test: #F2A922;
  --LinkText-test: #A62D65;*/
  
  
  /* Use light color scheme by default */
  --BG1: var(--BG1-light);
  --BG2: var(--BG2-light);
  --BG3: var(--BG3-light);
  --BG4: var(--BG4-light);
  --Text1: var(--Text1-light);
  --Text2: var(--Text2-light);
  --Symbol: var(--Symbol-light);
  --Border: var(--Border-light);
  --LinkText: var(--LinkText-light);
  
  
  /* ==== Font Themes ==== */
  
  --Font-default: default;
  --Font-serif: "Times New Roman", "serif";
  --Font-sans-serif: "Arial", "Helvetica", "sans-serif";
  --Font-comic-sans: "Comic Sans MS", "Comic Sans";
  
  --Font: var(--Font-default);
  --FontMono: monospace;
  
  
  --FontSize: 20px;
  --NavBtnFontSize: 24px;
  
}

/* Change styles depending on the color theme */
@media (prefers-color-scheme: dark) {
  
  :root {
    /* Use the dark color scheme */
    --BG1: var(--BG1-dark);
    --BG2: var(--BG2-dark);
    --BG3: var(--BG3-dark);
    --BG4: var(--BG4-dark);
    --Text1: var(--Text1-dark);
    --Text2: var(--Text2-dark);
    --Symbol: var(--Symbol-dark);
    --Border: var(--Border-dark);
    --LinkText: var(--LinkText-dark);
  }
  
}



/* ======== Global Styles ======== */

* {
  
  /* This makes positions and dimensions unaffected by borders or padding */
  box-sizing: border-box;
  
  /* Set fonts */
  font-family: var(--Font);
  
  font-size: var(--FontSize);
  
  scroll-padding-top: 60px;
  
}



/* ========== Element Styles ========== */

/* Body styles */
body {
  z-index: 0;
  
  position: absolute;
  
  /* Honestly this should be default */
  width: 100%;
  height: 100%;
  /*min-width: 350px;*/
  min-width: 750px;
  
  /* Unsetting the margin removes the small border around the edge of the page */
  margin: unset;
  padding: unset;
  border: none;
  
  color: var(--Text1);
  background-color: var(--BG1);
  
}

/* Override link styles */
a {
  color: var(--LinkText);
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}


/* Textbox placeholder opacity needs to be reset, due to the "all: unset" rule being applied to textboxes */
::placeholder {
  opacity: 0.5;
}


/* Mostly for re-coloring links */
.inherit-color {
  color: inherit;
}


.dim-text {
  color: var(--Text2);
}


h1 {
  font-size: 30px;
  /*font-family: var(--Font2);*/
}

h2 {
  font-size: 24px;
}
.heading-link {
  font-weight: bold;
  font-size: 24px;
  color: var(--Text1);
}


table, th, td {
  border: 1px solid var(--Text1);
  border-collapse: collapse;
}


ul {
  margin-top: 0px;
  margin-bottom: 0px;
}


code {
  font-family: var(--FontMono);
  font-size: var(--FontSize);
}


.page-content-container {
  
  position: absolute;
  
  top: 50px;
  
  /*width: calc(100% - 1.5em);*/
  
  padding-left: 1em;
  
}

@media screen and (max-width: 900px) {
  
  .page-content-container {
    top: 100px;
  }
  
}


.vote {
  
  display: inline;
  
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  
  background-color: var(--BG2);
  border-radius: 4px;
  
}

.vote-icon {
  
  width: var(--FontSize);
  height: var(--FontSize);
  
}
