/*
Anthony Wilson

Nomic Automation System

These CSS rules apply to all pages on the site
These rules are for specific element IDs and classes (specific parts of pages)

2022-4-7 - 2022-5-7
*/



/*
Z-Indexes:
0   - body
50  - #settings-menu
99  - #dimmer
100 - #nav-bar
*/



/* ======== Declare Variables ======== */
/*:root {
  
  
  
}*/



/* ======== Navigation Bar ======== */

/* Styles for the navigation bar at the top of the screen */
#nav-bar {
  
  z-index: 100;
  
  position: fixed;
  
  left: 0px;
  top: 0px;
  
  width: 100%;
  min-width: 350px;
  height: 50px;
  
  background-color: var(--BG2);
  border: 2px solid var(--Border);
  
}


/* Styles shared by all the links in the navigation bar */
.nav-link {
  
  position: absolute;
  
  top: -2px;
  
  width: 12.5%;
  height: 50px;
  
  padding-top: 10px;
  
  font-size: 24px;
  text-align: center;
  
  background-color: var(--BG2);
  border: 2px solid var(--Border);
  
  color: var(--Text1);
  
  transition: background 250ms;
  
}
/* Change the color of the navigation links when the mouse hovers over them */
.nav-link:hover,
.nav-link:focus {
  background-color: var(--BG3);
}
/* Style the link which corresponds to the current page */
.nav-link[currentpage] {
  background-color: var(--BG4);
}
/* Style unavailable links */
.nav-link[unavailable] {
  
  text-decoration: none;
  
  background-color: var(--BG2);
  color: var(--Text2);
  
  cursor: not-allowed;
  
}

/* Styles for the individual links in the navigation bar */
#nav-link-site-logo {
  
  left: -2px;
  
  width: 160px;
  
  padding-top: 6px;
  
  font-size: 30px;
  
}

#nav-link-rules {
  left: 156px;
}

#nav-link-players {
  left: calc(12.5% + 154px);
}

#nav-link-docs {
  left: calc(25% + 152px);
}

#nav-link-propositions {
  left: calc(37.5% + 150px);
}



/* ======== Search ======== */

/* Search bar at the top of the page */
#nav-search {
  
  top: -2px;
  width: calc(50% - 194px);
  
  left: calc(50% + 148px);
  height: 50px;
  
}

#search-menu {
  
  position: absolute;
  
  box-sizing: border-box;
  
  top: 46px;
  width: calc(50% - 194px);
  
  left: calc(50% + 148px);
  height: 50px;
  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: left;
  
  overflow-y: auto;
  
  color: var(--Text1);
  background-color: var(--BG2);
  border: 2px solid var(--Border);
  
}



/* ======== Settings Menu ======== */

/* Settings button in the top-right corner of the page */
#nav-settings-btn {
  
  position: absolute;
  
  top: -2px;
  width: 50px;
  
  right: -2px;
  height: 50px;
  
  padding-top: 10px;
  
  background-color: var(--BG2);
  border: 2px solid var(--Border);
  
  transition: background 250ms;
  
  cursor: pointer;
  
}
#nav-settings-btn:hover,
#nav-settings-btn:focus {
  background-color: var(--BG3);
}
/* Change the color of the settings button when the settings menu is open */
#nav-settings-btn[settingsopen="true"] {
  background-color: var(--BG4);
}

#nav-settings-btn-svg {
  transform:
    translate(-0.5px, -3px)
    scale(1.5, 1.5);
}

#nav-settings-btn-svg-path {
  fill: var(--Text1);
}

/* The container for the settings menu */
#settings-menu {
  
  z-index: 99;
  
  position: fixed;
  
  top: 48px;
  right: 0px;
  
  /* The strange amount of pixels here is to prevent misalignment of the left edge of the menu with the login button on some screen sizes */
  width: calc(12.5% + 95.5px);
  height: calc(100% - 48px);
  
  background-color: var(--BG3);
  border: 2px solid var(--Border);
  
}

/* Make the settings menu a set width if the screen width is smaller than 1800px */
@media screen and (max-width: 1200px) {
  
  #settings-menu {
    width: 245px;
  }
  
}

/* Dim the rest of the page when the settings menu is open */
#dimmer, #search-dimmer {
  
  z-index: 50;
  
  position: fixed;
  
  top: 0px;
  right: 0px;
  
  width: 100%;
  height: 100%;
  
  background-color: #00000080;
  
}

.settings-menu-subtitle {
  
  position: absolute;
  
  left: -2px;
  
  width: calc(100% + 4px);
  height: 50px;
  
  padding-top: 10px;
  
  font-size: 24px;
  text-align: center;
  
  background-color: var(--BG2);
  border: 2px solid var(--Border);
  
}


/* Light/Dark mode settings switch */
#settings-color-scheme-title {
  top: -2px;
}

#settings-color-scheme-switch-light,
#settings-color-scheme-switch-dark {
  
  position: absolute;
  
  top: 46px;
  
  width: calc(50% + 3px);
  height: 50px;
  
  background-color: var(--BG2);
  border: 2px solid var(--Border);
  
  /*padding-top: 10px;*/ /* Button text is vertically aligned by default, so this just breaks things */
  
  font-size: 24px;
  
  background-color: var(--BG2);
  border: 2px solid var(--Border);
  
  transition: background 250ms;
  
  cursor: pointer;
  
}
#settings-color-scheme-switch-light:hover,
#settings-color-scheme-switch-dark:hover,
#settings-color-scheme-switch-light:focus,
#settings-color-scheme-switch-dark:focus {
  background-color: var(--BG3);
}
#settings-color-scheme-switch-light {
  left: -2px;
}
#settings-color-scheme-switch-dark {
  right: -2px;
}


/* UI Scale settings switch */
/*#settings-UI-scale-title {
  top: 118px;
}

#settings-UI-scale-switch-small,
#settings-UI-scale-switch-medium,
#settings-UI-scale-switch-large {
  
  position: absolute;
  
  top: 166px;
  
  width: calc(33.4% + 3px);
  height: 50px;
  
  background-color: var(--BG2);
  border: 2px solid var(--Border);
  
  font-size: 24px;
  
  /*padding-left: 0px;*/ /* For whatever reason this prevents the text from being re-aligned in WebKit on iOS */
  /*text-align: center;
  
  background-color: var(--BG2);
  border: 2px solid var(--Border);
  
  transition: background 250ms;
  
  cursor: pointer;
  
}
#settings-UI-scale-switch-small:hover,
#settings-UI-scale-switch-medium:hover,
#settings-UI-scale-switch-large:hover,
#settings-UI-scale-switch-small:focus,
#settings-UI-scale-switch-medium:focus,
#settings-UI-scale-switch-large:focus {
  background-color: var(--BG3);
}
#settings-UI-scale-switch-small {
  left: -2px;
  font-size: 20px;
}
#settings-UI-scale-switch-medium {
  left: calc(33.4% - 1px);
}
#settings-UI-scale-switch-large {
  right: -2px;
  font-size: 28px;
}*/


/* Links */
#settings-link-leave-feedback {
  /*top: 238px;*/
  top: 118px;
}
#settings-link-docs {
  /*top: 310px;*/
  top: 190px;
}
#settings-link-about {
  /*top: 382px;*/
  top: 262px;
}
#settings-link-admin-tools {
  /*top: 454px;*/
  top: 334px;
}



/* ======== Main Page ======== */

/* */



/* ======== Rules ======== */

/*#rule-tree {
  
}*/

.rule {
  
  margin: 1em;
  
  padding: 1em;
  
  border: 1px solid white;
  
}

.rule-tag {
  
  display: inline;
  
  padding-left: 2px;
  padding-right: 2px;
  
  background-color: var(--BG2);
  border-radius: 4px;
  
}

/*#rule-summary-table {
  
}
#rule-summary-table > tr {
  
}
#rule-summary-table > * > td {
  
  text-align: left;
  
  padding-left: 5px;
  padding-right: 1em;
  
  padding-top: 2px;
  padding-bottom: 2px;
  
}*/



/* ======== Players ======== */

/* */



/* ======== Documentation ======== */

/*#docs-container {
  
  position: absolute;
  
  top: 50px;
  
  width: calc(100% - 1.5em);
  
  padding-left: 1em;
  
  font-size: 20px;
  
}*/



/* ======== Propositions ======== */

.proposition {
  
  margin: 1em;
  
  padding: 1em;
  
  border: 1px solid white;
  
}
